<!DOCTYPE html>
<html>
  <head>
    <link href="/styles.css" type="text/css"  data-template-style="true" rel="stylesheet"/>

  </head>

  <body>

    <h2>Укажите данные для записи</h2>

    <form class="form" action="/" method="post">
      <p>Введите ваше имя:</p>
      <input type="text" name="user_name" />
      <p>Введите ваш номер телефона:</p>
      <input type="text" name="user_phone" />
      <p>Введите дату и время на которые вы хотите назначить визит к нам:</p>
      <input type="date" name="date_time" />
      <input type="submit" />

    </form>
  </body>
</html>
